<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hyx.repository.mybatis.mapper.NameMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="hyx.repository.mybatis.entity.Name">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="family_name" property="familyName" />
        <result column="ext" property="ext"/>
    </resultMap>
    <!--<insert id="insert" keyProperty="id" parameterType="hyx.repository.mybatis.entity.Name"/>-->
</mapper>
